* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #FFFAFB !important;
}
/*Header*/
header{
    background-color: #2B2C28;
    padding: 5px;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
}
.header-items{
    width: 20px;
    height: 20px;
    filter: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(399%) hue-rotate(160deg) brightness(100%) contrast(113%);
}

.header-access{
    text-decoration: none;
    color: #000;
}

nav>a.header-access{
    display: flex;
    align-items: center;
    color: #F5FFFD;
    gap: 3px;
}

nav>a.header-access:hover{
    color: #d9e2e1;
}

nav>a>img:hover{
    color: #d9e2e1;
}

.darkTheme>img{
    filter: brightness(0) saturate(100%) invert(95%) sepia(6%) saturate(399%) hue-rotate(160deg) brightness(100%) contrast(113%);
    cursor: pointer;
    padding: 0px 8px 0px 0px;
}

/*Hero*/

.hero-section{
    display: flex;
    padding: 65px;
}

.introducing{
    width:75%;
}

.introducing > hr {
    width: 50%;
}

.top-diff{
    padding-top: 50px;
}

.hero-intro-txt{
    width:50%;
}

.enhance-txt-hero {
    color: #339989;
}

.main-socials>a{
    text-decoration: none;
    font-size: 20px !important;
}

.main-socials > i.socials-icon{
    cursor: pointer;
}

.main-socials>a:hover{
    filter: opacity(85%);
}



.welcome-img>img{
    width: 300px;
    height: 400px;
}

.personal-img>img{
    width: 300px;
    height: 400px;
}

/*Projects*/

.project-access>a{
    text-decoration:none;

}

.project-access>a>img{
    width: 20px;
    height: 20px; 
    padding-bottom: 5px; 
}

.project-access>a>i{
    width: 16px;
    height: 16px; 
}

/*Stacks*/

.stack > img {
    width: 120px;
    height: 120px;
}

